.navbar-custom {
  background-color: rgb(0, 0, 0);
}

.navbar {
  min-height: 4rem;
}

.navbar-brand {
  margin-right: 0;
}

.navbar-brand img {
  height: 4.5rem;
  max-height: 100%;
  width: auto;
}

.navbar-custom .navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-left: 5rem;
}

.navbar-custom .navbar-nav .nav-link {
  font-size: 1.5rem;
  padding: 0;
}

.initial-section {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.initial-section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}

.initial-section .overlay {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  text-align: center;
}

.game-section,
.character-section,
.gallery-section {
  position: relative;
  width: 100%;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.game-section::before,
.character-section::before,
.gallery-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  opacity: 0.6;
  z-index: -1;
}

.game-section::before {
  background-image: url('../img/bg1.webp');
}

.character-section::before {
  background-image: url('../img/bg2.webp');
}

.gallery-section::before {
  background-image: url('../img/bg3.webp');
}

.game-section .overlay,
.character-section .overlay,
.gallery-section .overlay {
  position: relative;
  z-index: 1;
  padding: 2rem;
}


@media (max-width: 62rem) {
  .navbar-collapse {
    position: fixed;
    inset: 0;            
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 1050;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  .navbar-collapse.show {
    transform: translateY(0);
  }

  .navbar-custom .navbar-nav {
    display: flex;          
    flex-direction: column;   
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0;    
    margin-left: 0; 
   }             

  .navbar-custom .navbar-nav .nav-item {
    width: 100%;
  }

  .navbar-custom .navbar-nav .nav-link {
    padding: 1.5rem 0; 
    font-size: 1.5rem;
    text-align: center;
    display: block;
  }

  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar-brand img {
    height: 4.5rem;
    width: auto;
  }

  .navbar-toggler {
    z-index: 1100;
  }

  .initial-section video {
    display: none;
  }

  .initial-section {
    background: url('../img/fondo_cel.webp') no-repeat center center / cover;
  }

}

